<main style="margin-top: 30px;">
    <div class="row" style="border: 3px solid rgb(123, 119, 119); border-radius: 1rem;">
        
        <div class="col-sm-4"> 
            <div class="well" style="display:flex; justify-content: center">
                
                <img class="img-perfilC" src="/img/perfil.png" alt="" >
                
            </div>
        </div>
        <div class="col-sm-8">
            <div class="jumbotron" style="margin-bottom: 5px;">
                <a class="nav-link" href="/curriculo" target="_blank"><h1>Fernando Quintana</h1></a>
                <h4 class="container">Edad: 22 años</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque officiis
                    omnis vel consectetur, numquam odio dolorem repellendus ducimus fugit
                    sint error nisi dolores maxime doloremque perspiciatis. Illum unde
                    perspiciatis totam.
                </p>
            </div>
        </div>
    
    </div>
</main>