<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PWorkers</title>
        <link rel="icon" href="/img/pworkers.ico">
        
        <link rel="stylesheet" href="/css/cuerpo.css">
        
        <!-- CSS (estilo de bootstrap) -->
        <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
        
        
    </head>