<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PWorkers</title>
        <link rel="icon" href="/img/PWorkers.ico">
        
        <link rel="stylesheet" href="/css/cuerpo.css">
        
        <!-- CSS (estilo de bootstrap) -->
        <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-M3VNPP030P"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
             gtag('js', new Date());

            gtag('config', 'G-M3VNPP030P');
        </script>
    </head>