<%- include('../partials/head'); %>
<body class="container">

    <h1 class="titulo404 "> ERROR 404</h1>
    
    <div class="container" >
        <img  class="error" src="/img/error-404.png" alt="">
    </div>
     <footer>
        <p> estimado usuario lamentamos no poder ayudarlo
            en la busqueda de su informa, se produjo un 
            error en la dirección , la página a la que
            usted deseas ingresar no existe, por favor
            escribe otra ruta o verifica la escrita
            anteriormente.  
            
        </p>
    </footer>
</body>
</html>