<%- include('../partials/head'); %>
<body class="container">
    
    <header>
        <%- include('../partials/header'); %>  
    </header>
    
    <div class="container">
        <%- include('../partials/Carq'); %>
    </div>
    
    <%- include('../partials/footer'); %>


    

   