<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"><!--codificacion  de caracteres-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Curriculo de fernando Quintana ingenieron en informatica"> <!--descripcion de la pagina-->
 	<meta name="keywords" content="fernando Quintana, Programador, Ingeniero informatico, "><!--palabras claves para los buscadores -->
 	<meta name="author" content=" fernando Quintana"><!--diseñador de la pagina-->
 	<meta name="robots" content="index" /> 

     <link  rel="icon" href="/img/perfilC.ico">

	<title itemref="">Curriculo</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/stiloC.css">
     <!-- script del captcha -->
     <script src="https://www.google.com/recaptcha/api.js" ></script>
     
 <!-- script del captcha -->
    <script src="https://www.google.com/recaptcha/api.js" ></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M3VNPP030P"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

        gtag('config', 'G-M3VNPP030P');
    </script>
</head>
<body>
    <div class="container">
                    <!-- toda la informacion encontrada en este documento no es totalmente verdad, la mayor parte es para rellenar espacios vacíos-->

        <!-- nombre y foto de perfil-->
        <header class="hheader">
            <div class="imgperfil">
                <img src="/img/perfil.png" alt="Fernando Quintana" name="fernando"><!-- imagen de perfil-->
            </div>
            <div class="nombre">
                <h1>Fernando Quintana</h1><!--nombre-->
                <h3> Ing informático</h3><!-- profecion-->
                <h3> 22 años</h3>
            </div>
            
            
        </header><!-- fin del header -->
        <aside>
            <!--menu de contacto-->
            <nav>
                <ul>
                    <li id="correo" target="_blank">
                        ferquintana1309@gmail.com
                    </li>
                    <li id="tlf">
                        <a href="https://qr/TY4KBCFLL24UL1" target="_blank">+58-4145890788</a>
                    </li>
                    <li id="ubi">
                        <a href="10.2865311, -67.6349084" target="_blank">El Limón, Aragua, Venezuela</a>
                    </li>


                </ul>
            </nav><!-- fin de la barra de contacto y ubicacion-->
            <!--perfil-->
            <div>
                <!-- perfil personal, leguajes de programacion dominados, idiomas dominados-->			
                <h2>
                    Descriccion
                </h2>
                <p class="descripción">
                    soy una persona responsable y respetuosa, la cual aprovecha toda sus virtudes y 
                    reconoce sus debilidades, abierto a críticas para así mejorar. Me desenvuelvo bien 
                    en trabajo en equipo y ayudar a las personas con sus complicaciones y en mi tiempo libre 
                    lo ocupo en actividades deportivas
                </p>
            </div>
            <!--dominio de lenguajes-->
            <div class="lenguaje">
                <h2>
                    Lenguajes 
                </h2>
                <ul>
                    <li>
                        JAVA
                    </li>
                    <li>
                        PHP
                    </li>
                    <li>
                        JAVASCRIPT
                    </li>
                    <li>
                        C#
                    </li>
                    <li>
                        PYTHON
                    </li>
                </ul>
            </div>
            <!--idiomas de dominio-->
            <div class="idioma">
                <h2>
                    idiomas
                </h2>
                
                <UL>
                    <li id="españa">
                        Español
                    </li>
                    <li id="usa">
                        ingles
                    </li>
                    <li id="portugal">
                        Portigues
                    </li>
                </UL>
            </div>

        </aside>

        <!-- informacion de trabajo y estudios-->
        <section>
            <!-- experiencias de trabajo-->
            <div>
                <h2>Experiencia Profesional</h2>
                
                <article class="articulo">
                    <header class="Aheader">
                        <h3>
                            <a href="https://www.indracompany.com" target="_blank">Indra</a>
                        </h3>
                        <footer>
                            <h5>
                                Tecnico
                            </h5>
                        </footer>
                    </header>

                    <!-- tareas realizadas -->
                    <p>
                        Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Eligendi excepturi, explicabo laboriosam, maiores minima nesciunt nostrum in rem quisquam enim impedit nemo aspernatur error aliquid earum non, aliquam adipisci quas. Lorem ipsum dolor sit amet, 
                    </p>
                </article>

                <article class="articulo">
                    <header class="Aheader">
                        <h3>
                            <a href="https://es.meikipedia.org/wiki/Airbus" target="_blank">Airbus</a>
                        </h3>
                        <footer>
                            <h5>
                                Supervisor
                            </h5>
                        </footer>
                    </header>

                    <!-- tareas realizadas -->
                    <p>
                        Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Eligendi excepturi, explicabo laboriosam, maiores minima nesciunt nostrum in rem quisquam enim impedit nemo aspernatur error aliquid earum non, aliquam adipisci quas. Lorem ipsum dolor sit amet, 
                    </p>			
                </article>
                
            </div>
            <!-- estudios cursados-->
            <div>
                <h2>
                    estudios
                </h2>

                <div class="estudio">
                    
                    <article>
                        <p class="titulo">
                            Titulo: Ingeniero Informatico</p>
                        <P class="universidad">UNIVERSIDAD: <a href="https://dace.unerg.me">universidad Romulo Gallegos</a> </P>
                
                    </article>
                    <article>
                        <p class="titulo">
                            TITULO: XXXXXXXXXXXXXX</p>
                        <P class="universidad"> UNIVERSIDAD: XXXXXXXXXXX </P>
                
                    </article>
                
                </div>
            </div>

        </section>
    </div>
	
	<%- include('../partials/formulario'); %>
	
    
    <%- include('../partials/footer'); %>