<%- include('../partials/head'); %>
<body class="container">

    <header style="padding-bottom: 2em;">
        <%- include('../partials/header'); %>
    </header>
    <div class="container" >
        <img  class="error" src="/img/error-msj.png" alt="">
    </div>
    <div class="container">
        <p class="lead">
            estimado usuario hay un error en el comunicado, no se a podido 
            enviar su mensaje, por favor verifique sus datos y vuelva a intentarlo.
        </p>
        <p class="lead">           
            TODOS LOS CAMPOS SON OBLIGATORIOS .
        </p>
        <p class="lead">
            
            presione volver para regresar a la pagina anterior
            
        </p>
    </div>

    <a  href="/curriculo">volver</a>

<%- include('../partials/footer'); %>
